/* document outline ----------------------------------------- */
*{
  user-select:none; /* タップ、ドラッグで文字選択しないように */
}
html{
  height:100%;
  overflow:hidden;
  overscroll-behavior:none; /* バウンススクロールを抑止(only for Android) */
}
body{
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  font-family: 'Arial', 'Meiryo UI';
  background-color: var(--body-bg-color);
}
a{
  color: inherit;
  text-decoration: none;
}
button{
  padding: 0;
}
/* Grid Layout settings ------------------------------------- */
/* 以下すべて相対サイズにし、レスポンシブ対応可能にしておく */
#container{
  display: grid; /* Grid Layout でコンテンツを配置 */
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 10vh 19vh 60vh 10vh; /* ボタン下に隙間を空けるため、敢えて100vhにしない */
  grid-template-areas:
     'player1 player2'
     'score1container score2container'
     'timer1 timer2'
     'operationbtn settingbtn';
  align-items: center; /* 子アイテムはデフォで上下左右に中央揃え */
  justify-items: center;
}
#player1{
  grid-area: player1;
}
#player2{
  grid-area: player2;
}
#score1container{
  grid-area: score1container;
}
#score2container{
  grid-area: score2container;
}
#gamemode{
  grid-area: 1/1/3/3;
  align-self: start; /* 上揃え */
}
#timer1{
  grid-area: timer1;
}
#timer2{
  grid-area: timer2;
}
#delay{
  grid-area: 3/1/4/3;
  align-self: start; /* 上寄せ */
  z-index: 3;
}
#pauseinfo{
  grid-area: 3/1/4/3;
  z-index: 4;
}
#pausebtn{
  grid-area: 4/1/5/3;
  z-index: 3;
}
#settingbtn{
  grid-area: settingbtn;
  justify-self: right;
  margin-right: 2vw;
}
/* object decorations ------------------------------------- */
.infotext{
  font-size: 3vw;
  text-align: center;
}
.scorecontainer{
  display: flex;
  align-items: center;
  padding-bottom: 1vh;
}
.score{
  width: 15vw;
  font-size: 7vw;
  text-align: center;
  border-radius: 20%;
  margin: 0 1vw;
  background-color: var(--score-bg-color);
}
.timer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.delay{
  width: 20vh; /* 正円で表示 */
  height: 20vh;
}
.updownbtn{
  border: 4px solid;
  border-radius: 10vw;
}
.oparationbtn{
  padding: 2vh 6vw;
  border: 4px solid;
  border-radius: 4vw;
  margin-top: 1vh;
  display: inline-block;
}
.btnenable{
  background-color: var(--btn-enable);
  border-color: var(--btn-frame-enable);
  color: var(--btn-frame-enable);
}
.btndisable{
  background-color: var(--btn-disable);
  border-color: var(--btn-frame-disable);
  color: var(--btn-frame-disable);
}
.pauseinfo{
  font-size: 1.5vw;
  z-index: 3;
  border-radius: 10vw;
  background-color: var(--pause-bg-color);
  color: var(--pause-fg-color);
}
.lose{
  color: var(--lose-info-color);
}
/* settingwindow decorations ------------------------------------- */
#settingwindow{
  position: absolute;
  display: none;
  z-index: 9;
  background-color: var(--setting-bg-color);
}
#settingwindow input,select{
  font-size: 100%;
}
.popupwindow{
  border: 3px solid;
  padding: 2vh 4vw;
  font-size: 1.8vw;
  border-color: var(--setting-frame);
}
.popuptitle{
  font-size: 2.2vw;
  padding: 2vh 2vw;
  margin-bottom: 2vh;
  background-color: var(--setting-title);
}
/* toggle switch ----------------------------------------- */
/* (参考) https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
  background-color: var(--slider-bg);
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .3s;
  border-radius: 1.6em; /* Rounded sliders */
  background-color: var(--slider-fg);
}
.slider:before {
  position: absolute;
  content: "";
  height: 1.6em;
  width: 1.6em;
  left: 0.2em;
  bottom: 0.2em;
  transition: .3s;
  border-radius: 50%;
  background-color: var(--slider-btn);
}
input:checked + .slider {
  background-color: var(--slider-checked);
}
input:checked + .slider:before {
  transform: translateX(2.0em);
}
/* Segmented Control ----------------------------------------- */
/* (参考) https://ginpen.com/2012/12/11/segmented-control/ */
.segmented {
  display: inline-block;
}
.segmented .label {
  border: 1px solid;
  float: left;
  padding: 0.5em 1em;
  text-align: center;
  width: 12vw;
  background-color: var(--segmented-disable-bg);
  border-color: var(--segmented-frame);
  color: var(--segmented-disable-fg);
}
.segmented input {
  display: none;
}
.segmented input:checked + .label {
  background-color: var(--segmented-enable-bg);
  color: var(--segmented-enable-fg);
}
/* Theme Color Definition ------------------------------------- */
.cool{
  --body-bg-color:       #efe;
  --score-bg-color:      #ddf;
  --btn-enable:          #adf;
  --btn-frame-enable:    #29f;
  --btn-disable:         #ddd;
  --btn-frame-disable:   #aaa;
  --pause-bg-color:      #dfd;
  --pause-fg-color:      #00f;
  --lose-info-color:     #f00;
  --setting-bg-color:    #dff;
  --setting-frame:       #00f;
  --setting-title:       #adf;
  --slider-bg:           #dff;
  --slider-fg:           #999;
  --slider-checked:      #29f;
  --slider-btn:          #fff;
  --segmented-disable-bg:#eee;
  --segmented-frame:     #ccc;
  --segmented-disable-fg:#666;
  --segmented-enable-bg: #29f;
  --segmented-enable-fg: #fff;
}
.warm{
  --body-bg-color:       #fee;
  --score-bg-color:      #fbb;
  --btn-enable:          #dc9;
  --btn-frame-enable:    #932;
  --btn-disable:         #ddd;
  --btn-frame-disable:   #aaa;
  --pause-bg-color:      #fdd;
  --pause-fg-color:      #c67;
  --lose-info-color:     #f00;
  --setting-bg-color:    #ffd;
  --setting-frame:       #f22;
  --setting-title:       #dc9;
  --slider-bg:           #ffd;
  --slider-fg:           #bbb;
  --slider-checked:      #932;
  --slider-btn:          #fff;
  --segmented-disable-bg:#eee;
  --segmented-frame:     #ccc;
  --segmented-disable-fg:#666;
  --segmented-enable-bg: #932;
  --segmented-enable-fg: #fff;
}
.mono{
  --body-bg-color:       #eee;
  --score-bg-color:      #ccc;
  --btn-enable:          #bbb;
  --btn-frame-enable:    #444;
  --btn-disable:         #ddd;
  --btn-frame-disable:   #aaa;
  --pause-bg-color:      #ddd;
  --pause-fg-color:      #444;
  --lose-info-color:     #f00;
  --setting-bg-color:    #ddd;
  --setting-frame:       #444;
  --setting-title:       #bbb;
  --slider-bg:           #ddd;
  --slider-fg:           #bbb;
  --slider-checked:      #444;
  --slider-btn:          #fff;
  --segmented-disable-bg:#eee;
  --segmented-frame:     #ccc;
  --segmented-disable-fg:#666;
  --segmented-enable-bg: #444;
  --segmented-enable-fg: #fff;
}
